<div class="row">
<div class="col-sm-8">
  <%= render partial: "posts/list", locals: { posts: @posts } %>
</div>

<div class="col-sm-4">
  <p class="h4"><%= @profile.full_name %></p>
  <p> <%= @profile.username %></p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores doloribus velit exercitationem dolore, voluptas necessitatibus tempore, excepturi quis possimus reiciendis non. Tempora, qui? Totam velit dolore ratione magni eaque.</p>
  <p>Karma: <%= @profile.karma %><span class="fa fa-star text-warning"></span></p>
  <p>Cake day: <%= @profile.created_at.strftime("%d/%m/%y") %></p>

</div>
</div>